@model PFS_BIP.Models.Puppies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Puppies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChipNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChipNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InQuarantine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InQuarantine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button style="color:#fdffb6;" class="btn btn-primary">Edit</button></a>
    <br />
    <br />
    <a asp-action="Index">Back to List</a>
</div>
